body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 20px;
}

h1 {
    color: #2c3e50;
}

p {
    font-size: 18px;
    color: #555;
}
.container {
    max-width: 600px;
    margin: 100px auto;
    background: white;
    padding: 30px;
    border-radius: 8px;
    text-align: center;
}
.btn {
    display: inline-block;
    margin-top: 20px;
    padding: 12px 25px;
    background-color: #3498db;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    font-weight: bold;
}
.btn:hover {
    background-color: #2980b9;
}
header {
    background-color: #2c3e50;
    color: white;
    padding: 20px 0;
    text-align: center;
    border: 2px solid rgb(59, 33, 48);
}
footer {
    background-color: #ddd;
    text-align: center;
    padding: 15px;
    margin-top: 40px;
    font-size: 14px;
}
header h1 {
    margin: 0;
    color: white;
}

@media (max-width: 600px){
    .container{
        padding: 15px;
        margin: 50px 10px;
    }

    header, footer {
        padding: 15px 10px;
        text-align: center;
    }
    h1 {
        font-size: 22px;
    }
    p {
        font-size: 16px;
    }
    .btn {
        padding: 10px 20px;
        font-size: 14px;
    }
}

.hero {
    width: 100%;
    max-width: 400px;
    display: block;
    margin: 30px auto 30px auto;
    border-radius: 10px;
    border: 2px solid #3498db;
}

.services {
    background-color: #ecf0f1;
    padding: 40px 20px;
    text-align: center;
}

.service-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    margin-top: 20px;
}

.service {
    background: white;
    padding: 20px;
    border-radius: 10px;
    max-width: 250px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}

.socials {
    margin-top: 10px;
}

.socials a {
    color: #2c3e50;
    text-decoration: none;
    font-weight: bold;
}

.socials a:hover {
    color: #3498db;
}
.about {
    padding: 40px 20px;
    text-align: center;
}

.about p {
    max-width: 600px;
    margin: auto;
    font-size: 17px;

}
#competences {
    padding: 50px;
    text-align: center;
    background-color: #f5f5f5;
}

.skills {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 15px;
}

.skill {
    background-color: #007bff;
    color: white;
    padding: 10px 20px;
    border-radius: 20px;
    font-weight: bold;
}
#services {
    padding: 50px;
    text-align: center;
}

